predictions_cache/
models/
models
logs*
*.json
*.tar.gz
*.DS_Store
*.pyc
*.swp
venv/

notebooks/
results/
.ipynb_checkpoints
*/.ipynb_checkpoints/*

.idea
venv_hmmr

*.avi
*.mp4

src/external/neural_renderer
src/external/AlphaPose

*shell*


demo_data
demo_output/*
!demo_output/test_video_fxm
demo_output/test_video_fxm/*
!demo_output/test_video_fxm/example.gif
!demo_output/test_video_fxm/demo.gif
